// colors.scss
$primary-color: #000;
$secondary-color: #333;
$subtitles: #A2B1C3;
$background-color: #EDF5FD;
$sidebar-items: #737373;
$shadows:rgba(255, 0, 0, 0.4);
$sidebar-items: #737373;
$negro: #000;
$gray-color: #554b4b;
$red-color: #E31E24;
$white-color: #FFFFFF;
