// colors.scss
//colores sacados del logo
$azul-cielo: #5AB9EA;
$rojo: #E31E24;
$rojo-brillante: #FC3D39;
$blanco-amarillo: #FFF200;
$sombreado: #A2B1C3;
$blanco: #FFFFFF;
$btn-login: #2383f0;

//Colores puestos en la aplicación
$primary-color: #5AB9EA;
$secondary-color: #FC3D39;
$subtitles: #A2B1C3;
$background-color: #EDF5FD;
